***Ejercicio 2: Crear celda de markdown con título del cuarderno***

# Data Science Tools and Ecosystem

***Ejercicio 3: Crear una celda de Markdown para una introducción***

In this notebook, Data Science Tools and Ecosystem are summarized.

***Ejercicio 10 - Insertar una celda de Markdown para enumerar los objetivos***
- Crear y renombrar un cuaderno en Jupyter Notebook.
- Enumerar los diferentes lenguajes de programación en Ciencia de datos.
- Listar las bibliotecas más usadas en ciencia de datos.
- Realizar cálculos y mostrarlos en pantalla

***Ejercicio 4: Crear una celda de Markdown para enumerar los lenguajes de la ciencia de datos.***

Some of the popular languages that Data Scientists use are:
1. Python.
2. R.
3. SQL

***Ejercicio 5: Crear una celda de Markdown para enumerar las bibliotecas de ciencia de datos***

Some of the commonly used libraries used by Data Scientists include:
1. matplotlib.
2. pandas.
3. numpy.

***Ejercicio 6: Cree una celda de Markdown con una tabla de herramientas pe ciencia de datos.***

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Apache Spark|
|TensorFlow|

***Ejercicio 7: Cree una celda de Markdown que presente ejemplos de expresiones aritméticas***

### Below are a few examples of evaluating arithmetic expressions in Python

***Ejercicio 8: Crear una celda de código para multiplicar y sumar números.***

 This a simple arithmetic expression to mutiply then add integers

In [37]:
(3*4)+5

17

***Ejercicio 9: Crear una celda de código para convertir minutos a horas.***

This will convert 200 minutes to hours by diving by 60

In [45]:
print(f"200 minutos son: {200/60:.2f} horas.")

200 minutos son: 3.33 horas.

## Author
Jose Carlos Zamorano Medero